[Unit]
Description=algoliteos
After=network.target

[Service]
User=root
ExecStart=/bin/algoliteos
ExecReload=/bin/kill -HUP $MAINPID
KillMode=control-group
Restart=on-failure
RestartPreventExitStatus=255
Type=simple
RestartSec=2

[Install]
WantedBy=multi-user.target